{% extends "Base.html" %}

{% load static %}  

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'SlackCss/Login.css' %}">
<style>
    body{
        background-color: #f5f5f5;
    }

    .ChatBar{
        border: 1px solid black;
        padding: 1% 5%;
        margin: 2% 20%;
        background-color: aquamarine;
    }
</style>
{% endblock %}

{% block content%}
<body>
    <div class="ChatBar">
    {{ object.pk }}
        <a>Name:{{ object.username }}</a>
        <a>Comments:{{ object.text }}</a>
        {% if object.image %}
            <p class="text-center"><img src='{{ object.image.url }}' width="400" height="400"/></p>
        {% endif %}
        <div>
        <form method="POST" action="{% url 'chatcomment' object.pk %}"enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.nickname }}">
                    <textarea name="text" cols="10" rows="10"></textarea><br>
                    <p>picture: <input type="file" name="icon"></p>
                <input type="submit" value="Send">
        </form>
    </div>
</body>
{% endblock %}

{% block links %}
{% endblock %}