{% extends "Base.html" %}

{% load static %}  

{% block css %}
{% endblock %}

{% block content %}
<div class="text-center">
<div><a href="../">Back</a></div>
<div><img src='{{user_de.image.url}}' width="200" height="200"/></div>
<div>{{user_de.username}}</div>
{% for users in users %}
{% if users.username == user.username %}
{{users.nickname}}/{{users.text}}<br>
{% endif %}
{% endfor %}
users
</div>
<form method="POST" class="input-group-prepend" action="{% url 'secredmessagecreate' user_de.pk user.pk %}" enctype="multipart/form-data">{% csrf_token %}
                                            <span class="input-group-text">
                                                <input type="submit" value="send">
                                            </span>
                                            <span class="input-group-text" >
                                                <input  type="text" name="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                                            </span>
                                         <input type="hidden" name="nickname" value="{{ user.nickname }}">
                                         <input type="hidden" name="username" value="{{ user.username }}">
                                         <input type="hidden" name="icon" value="{{ user.image.url }}">
                                        </form>
{% endblock %}