{% extends "Base.html" %}

{% load static %}  

{% block css %}
<style>
    .ChatPage{
        left: 80%;
    }
     .MyChatBar{
        padding: 1% 5%;
        margin: 2% 19% 0% 50%;
        background-color: aquamarine;
        border-radius: 10%;
    }
    .MyChat{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 0 41px;
        position:absolute;
        left:80%;
        border-color: transparent transparent transparent aquamarine;
            }
    .MyIcon{
        left: 85%;
        position:absolute;
    }
    .OtherIcon{
        Right: 85%;
        position:absolute;
    }
    .OtherBar{
        padding: 1% 5%;
        margin: 2%  50% 0% 19%;
        background-color: aquamarine;
        border-radius: 10%;
    }
    .OtherChat{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 41px;
        position:absolute;
        Right:80%;
        border-color: transparent transparent aquamarine transparent;
    }
    .FiledataDisplayNone{
        display:none;
    }

    @media screen and (max-width: 768px) {
                .ChatPage {
                        top: 82%;
                        left: 0%;
                        width: 100%;
                      }
                .MyChatBar {
                        margin-right: 3%;
                        margin-left: 41%;
                      }
                .MyChat{
                        left: 92%;

                      }
                .MobileImg{
                        width: 40px;
                        height: auto; 
                      }
                .MobileChatname{
                        font-size:10%;
                      }
                .OtherBar{
                        margin: 2% 18% 0% 23%;
                      }
                .OtherChat{
                        Right: 73%;
                      }
                .MobileHeightDetail{
                    height:20%;
                }
                .MobileHeightComments{
                    height: 20%;
                }
                .FixMobileimg{
                    height:15%;
                    width:80%;
                }
}


   
</style>

{% endblock %}

{% block content %}
<div class="text-center">

<!--you get user detail of pk-->
    <div>
        <a href="{% url 'chat' %}">Back</a>
    </div>
    
    <div>
        <img src='{{user_de.image.url}}' width="200" height="200"/>
    </div>
    
    <div>{{user_de.nickname}}</div>

    
    <h2>Individual message</h2>

<!--message detail-->
<!-- this page exist bug offten the page Specifically, The page order is out of order -->

   
    {% for users in users %}
    {% for users in users.usersend.all|dictsort:"created_date" %}
<!--your message-->

<!-- your name-->
    {% if user.username == users.username %}
    <br>
    <div class="MyChatBar">
    {{users.created_date}}<br>
<!--fukidasi icon -->
    <a class="MyChat"></a>
<!-- send text show-->
    {{users.text}}<br>

<!-- send icon-->
    <a class="MyIcon">
    <templates class="NonMobilePage">
    {{ users.nickname }}<br>
    </templates>
    <img class="NonMobilePage" src='{{users.icon}}' width="70" height="70"/></a>
        {% if users.image %}
            <p><img class="FixImg FixMobileimg" src='{{users.image.url}}' width="200" height="200"/></p>
        {% endif %}
    </div>

<!--the other messsage-->
    {% elif users.username == user_de.username %}
    <br>
    
    <div class="OtherBar">
    {{users.created_date}}<br>
    
    <a class="OtherChat"></a>
    {{users.text}}<br>
            {% if users.image %}
            <p class="text-center"><img class="FixImg FixMobileimg" src='{{users.image.url}}' width="200" height="200"/></p>
            {% endif %}
    <a class="OtherIcon">

<!-- other nickname-->    
    {{ users.nickname }}<br>
    
<!--other -->    

    <img class="MobileImg" src='{{users.icon}}' width="70" height="70"/>
    
    </a>
    </div>
<!--Other User -->
        {% elif not user.username == users.username  %}
    {% endif %}
    </div> 

    {% endfor %}
    {% endfor %}

    <div class="MobileHeightDetail"></div>
    
</div>
<!--SecretMessage model form -->
<form method="POST" class="input-group-prepend && ChatPage" action="{% url 'secredmessagecreate' user_de.pk user.pk %}" enctype="multipart/form-data">{% csrf_token %}
                                            <span class="input-group-text">
                                                <button type="submit">
                                                    <img src="/media/menuicon/sendmessage.png" width="32" height="26" alt="色玉"><br>
                                                </button>
                                            </span>
                                            <span class="input-group-text" >
                                                <input  type="text" name="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                                            </span>
                                            <span class="input-group-text">
                                                    <label>
                                                        <span class="filelabel" title="">
                                                           <img class="FixImg" src="/media/menuicon/sendimage.png" width="32" height="26" alt="">
                                                        </span>
                                                    <input type="file" class="FiledataDisplayNone" name="image" value="写真">
                                                    </label>
                                            </span>
                                         <input type="hidden" name="yourname" value="{{ user_de.username }}">
                                         <input type="hidden" name="nickname" value="{{ user.nickname }}">
                                         <input type="hidden" name="username" value="{{ user.username }}">
                                         <input type="hidden" name="icon" value="{{ user.image.url }}">
</form>
{% endblock %}